body {
    text-align: center;
    margin-top: 150px;
    background-color: #000;
  }
  .clock {
    background: black;
    color: rgb(11, 239, 247);
    
    
    box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 40px #03e9f4,
                  0 0 60px #03e9f4;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
    position: absolute;
    padding: 10px 20px;
    font-size: 100px;
    border-radius: 5px;
    left: 11%;
    
  }

  .clock:nth-child(1){
    filter: hue-rotate(270deg);
}
.clock:nth-child(2){
    filter: hue-rotate(110deg);
}
.clock{
  animation: glow 1s linear infinite;
}
@keyframes glow {
  0% {
    filter: hue-rotate(10deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}